@model AdrianWoronaProject91511.Models.Film

<section>
    <table>
        <tr>
            <td>
                <h1>@Model.Category.Name</h1>
                @(await Component.InvokeAsync("CategoryMenu", new { categoryName = Model.Category.Name}))
            </td>
            <td>
                <ul>
                    <li><img src="~/content/@Model.PosterName" width="200px" alt="Plakat filmu" /></li>
                    <li>Tytuł: @Model.Title</li>
                    <li>Reżyser: @Model.Director</li>
                    <li>Opis: @Model.Desc</li>
                    <li>Cena: @Model.Price zł</li>
                    <li>Data publikacji: @Model.PublishDate</li>
                    <a href="@Url.Action("EditFilm", "Films", new {id = Model.Id})" class="btn btn-primary">Edytuj film</a>
                </ul>
            </td>
        </tr>
    </table>
</section>
