@model AdrianWoronaProject91511.ViewModels.CategoryFilmsViewModel


@{
    ViewData["Title"] = Model.Category.Name;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<table class="recentFilmsTable">
    <tr class="recentFilms">
        @foreach(var film in Model.RecentFilms)
        {
            <td>
                <img src="~/content/@film.PosterName" width="200px"/>
            </td>
        }
    </tr>
</table>

<h1>@Model.Category.Name</h1>
    <table>
        <thead>
            <tr>
                <th>Tytuł filmu</th>
                <th>Reżyser</th>
                <th>Opis</th>
                <th>Cena</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var film in Model.CategoryFilms)
            {
                <tr>
                    <td>@film.Title</td>
                    <td>@film.Director</td>
                    <td>@film.Desc</td>
                    <td>@film.Price</td>
                    <td>
                        <a href="@Url.Action("Details", "Films", new {filmId = film.Id})">&#128270;</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>